body {background: #C06C6E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFE3E0, #C06C6E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFE3E0, #C06C6E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    
    

}

div .row {
    margin-top: 5rem;
}

.center{
    text-align: center !important;
    vertical-align: middle !important;
}

.navbar-brand{
    color: #C06C6E;
}



/*Navbar*/
nav{
    margin-bottom: 10rem;
}
.logo {
    width: 20px; 
    height: auto;
    margin: 10px;
}

.navbar {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    background-color: #FAFAE9;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}


